body
{
    color: #333;
    font-size: 1.5em;
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-align: center;

    background: none no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.opening-hours
{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    background-color:rgba(225,225,225,0.7);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

section {
    display: block;
    margin: 0 auto 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

h1
{
    font-size: 3em;
    text-transform: uppercase;
}